node_modules/
/frontend/node_modules/
/backend/server/node_modules/
frontend/dist/
backend/server/.env
/.env
mongo-data/
*.log
/.vscode/
.DS_Store
/.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
/.cache/
.env.local
.env.development
.env.test
.env.production
/.local-mongo-data/
node_modules/.vite/